@import "tailwindcss";
body {
  background-color: #F6F1EA;
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}





.particle {
  position: absolute;
  width: 6px;
  height: 6px;
  background: rgba(232, 223, 212, 0.6);
  border-radius: 50%;
  top: 80%;
  left: 20%;
  animation: float 12s infinite ease-in-out;
}

.delay-1 {
  left: 60%;
  animation-delay: 3s;
}

.delay-2 {
  left: 40%;
  animation-delay: 6s;
}

@keyframes float {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    transform: translateY(-600px);
    opacity: 0;
  }
}

/*animación barra de progreso*/

@keyframes shimmerMove {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.shimmer {
  background: linear-gradient(
    120deg,
    transparent 30%,
    rgba(255,255,255,0.6) 50%,
    transparent 70%
  );
  animation: shimmerMove 2.5s infinite;
}

/* Animación de botón de respiración */

@keyframes breathing {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(107,31,43,0.4);
  }
  50% {
    transform: scale(1.06);
    box-shadow: 0 0 25px rgba(107,31,43,0.7);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(107,31,43,0.4);
  }
}

.breathing-btn {
  animation: breathing 1.2s ease-in-out infinite;
}

/*Letra pegada estilo carta*/

@keyframes cartaAppear {
  0% {
    opacity: 0;
    transform: translateY(60px) rotate(-1deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(0deg);
  }
}

.carta-anim {
  animation: cartaAppear 1.2s ease forwards;
}