@import "tailwindcss";
body {
  background-color: #F6F1EA;
  font-family: 'Inter', sans-serif;
}






.particle {
  position: absolute;
  width: 6px;
  height: 6px;
  background: rgba(232, 223, 212, 0.6);
  border-radius: 50%;
  top: 80%;
  left: 20%;
  animation: float 12s infinite ease-in-out;
}

.delay-1 {
  left: 60%;
  animation-delay: 3s;
}

.delay-2 {
  left: 40%;
  animation-delay: 6s;
}

@keyframes float {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    transform: translateY(-600px);
    opacity: 0;
  }
}
